# Fig pre block. Keep at the top of this file.
if [[ "$OSTYPE" == "darwin"* ]]; then

  [[ -f "$HOME/.fig/shell/zshrc.pre.zsh" ]] && builtin source "$HOME/.fig/shell/zshrc.pre.zsh"

fi

{{ pointers.zsh }}

{{ pointers.aliases }}

#------------Fig post block, Keep at the bottom of this file------------
if [[ "$OSTYPE" == "darwin"* ]]; then
  # Fig post block. Keep at the bottom of this file.
  [[ -f "$HOME/.fig/shell/zshrc.post.zsh" ]] && builtin source "$HOME/.fig/shell/zshrc.post.zsh"

  [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

  # Fig post block. Keep at the bottom of this file.
  [[ -f "$HOME/.fig/shell/zshrc.post.zsh" ]] && builtin source "$HOME/.fig/shell/zshrc.post.zsh"

  test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

fi
